.navbar {
  @include flexCenter();
  background: $backgroundColor;
  height: 80px;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbarContainer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#navbarLogo {
  @include flexCenter();
  cursor: pointer;
}

.logo {
  height: 60px;
}

.navbarMenu {
  @include flexCenter();
  list-style: none;
}

.navbarItem {
  height: 80px;
}

.navbarLinks {
  @include flexCenter();
  color: $textColor;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
  &:hover {
    color: $lightGray;
    transition: all 0.3s ease;
  }
}

.navbarBtn {
  @include flexCenter();
  padding: 0 1rem;
  width: 100%;
}

@media screen and (max-width: 960px) {
  .navbarContainer {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  .navbarMenu {
    display: grid;
    grid-template-columns: auto;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: -1;
  }

  .navbarMenu.active {
    background: $backgroundColor;
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 999;
    height: 80vh;
    font-size: 1.6rem;
  }

  #navbarLogo {
    padding-left: 25px;
  }

  .navbarToggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbarItem {
    width: 100%;
  }

  .navbarLinks {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navbarBtn {
    padding-bottom: 2rem;
  }

  .button {
    @include flexCenter();
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobileMenu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  .navbarToggle .bar {
    display: block;
    cursor: pointer;
  }

  #mobileMenu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobileMenu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobileMenu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
